*{
    padding: 0px;
    margin:0px;
    color: white;
}

#navbar{
    height: 60px;
    background-color: black;
    display: none;
}

a{
    text-decoration: none;
    margin-right: 200px;
}

#logo{
    color: rgb(220, 178, 26);
    font-size: 25px;
}
button{
    background-color: rgb(237, 148, 5);
}

.box{
    background-color:aqua;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    color:#0f1111;
}